<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Scraper</title>
  </head>
  <body>
    <h1>Scraping stuff...</h1>
    {% for product in productsFound %}
    <div>
      <h2>{{product.productTitle}}</h2>
      <img src="{{product.productImage}}" alt="{{product.productTitle}}" />
      <p>{{product.price}}</p>
      <a href="{{product.link}}">Link</a>
    </div>
    {% endfor %}
  </body>
</html>
